header {
	padding: 1rem 1.5rem;
	height: 72px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.themeSwitch {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		svg {
			height: 1rem;
			width: 1rem;
		}
	}
}
