@use '../abstracts/' as *;

.logoWrapper {
	display: flex;
	align-items: center;
	gap: 1rem;

	@include breakpoint-up(md) {
		gap: 2rem;
	}

	.iconWrapper {
		height: 2.5rem;
		width: 2.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;

		@include breakpoint-up(md) {
			height: 3.5rem;
			width: 3.5rem;
		}

		img {
			height: 28.57px;
			width: 28.57px;

			@include breakpoint-up(md) {
				height: 40px;
				width: 40px;
			}
		}
	}

	h2 {
		font-size: var(--fs-heading-xxs);
		font-weight: var(--fw-medium);
		line-height: var(--lh-heading-xs);
		color: var(--clr-neutral-navy-dark);

		@include breakpoint-up(md) {
			font-size: var(--fs-heading-sm);
		}
	}

	h2.darkTheme {
		color: var(--clr-neutral-white);
	}
}
