.logoWrapper {
	display: flex;
	align-items: center;
	gap: 1rem;

	.iconWrapper {
		height: 2.5rem;
		width: 2.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;

		img {
			height: 28.57px;
			width: 28.57px;
		}
	}

	h2 {
		font-size: var(--fs-heading-xxs);
		font-weight: var(--fw-medium);
		line-height: var(--lh-heading-sm);
		color: var(--clr-neutral-navy-dark);
	}

	h2.darkTheme {
		color: var(--clr-neutral-white);
	}
}
