@use '../abstracts/' as *;

.errorMessage {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	img {
		height: 32px;
		width: 32px;

		@include breakpoint-up(md) {
			height: 40px;
			width: 40px;
		}
	}

	p {
		font-size: var(--fs-heading-xxs);
		font-weight: var(--fw-regular);
		line-height: var(--lh-heading-xs);
		color: var(--clr-primary-red);

		@include breakpoint-up(md) {
			font-size: var(--fs-body-xxl);
			line-height: var(--lh-body-lg);
		}
	}

	p.darkTheme {
		color: var(--clr-neutral-white);
	}
}
