@use '../abstracts/' as *;

.toggle {
	position: relative;
	display: block;
	height: 20px;
	width: 32px;

	@include breakpoint-up(md) {
		height: 28px;
		width: 48px;
	}

	input {
		height: 0;
		width: 0;
		opacity: 0;

		&:checked + .slider::before {
			transform: translateX(12px);

			@include breakpoint-up(md) {
				transform: translateX(20px);
			}
		}
	}

	.slider {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: var(--clr-primary-purple);
		border-radius: 62.4rem;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			top: 4px;
			left: 4px;
			height: 12px;
			width: 12px;
			border-radius: 50%;
			background-color: var(--clr-neutral-white);
			transition: 400ms;

			@include breakpoint-up(md) {
				height: 20px;
				width: 20px;
			}
		}
	}
}
