@use './styles/abstracts' as *;

* {
	transition: 300ms;
}

body {
	background-color: var(--clr-neutral-gray-light);
	background-image: url('./assets/images/pattern-background-mobile-light.svg');
	background-repeat: no-repeat;
	font-family: var(--ff-primary-rubik);
	font-optical-sizing: auto;

	section {
		padding: 2rem 1.5rem;

		.submitButton {
			height: 56px;
			width: 100%;
			margin-bottom: 0.75rem;
			padding: 0.75rem;
			background-color: var(--clr-primary-purple);
			border: none;
			border-radius: 12px;
			box-shadow: 0 16px 40px var(--clr-shadow-gray-navy);
			font-size: var(--fs-heading-xxs);
			font-weight: var(--fw-medium);
			line-height: var(--lh-heading-xs);
			color: var(--clr-neutral-white);
			cursor: pointer;
		}
	}
}

body.darkTheme {
	background-color: var(--clr-neutral-navy-dark);
	background-image: url('./assets/images/pattern-background-mobile-dark.svg');

	section {
		.submitButton {
			box-shadow: 0 16px 40px var(--clr-shadow-navy-dark);
		}
	}
}
